.mundo-wow{
    text-align: center;
    margin-bottom: 20px;
}

.mundo-wow__title{
    font-family: 'Lobster', cursive;
    color:firebrick;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.mundo-wow__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin:auto;
    margin-bottom: 20px;
    

}
.mundo-wow__txt{
    padding: 10px;
    text-align: initial;
}
.banner__content{
    margin-top: 155px;
}
.banner__img{
    opacity:0.6;
}
.menu{
   opacity: 1;
}

/* Diseño renponsive*/
@media screen and (max-width:700px){

    .mundo-wow__img{
        width: 150px;
        height: 150px;
    }

}